header{
	background: rgba(50, 100, 0, 0.8) url("../images/flywheel.jpg");
	text-transform: uppercase;
	padding-left: 24%;
	padding-bottom: 5px;
	border-radius: 40px;
}

h1 {
    color: rgba(200,0,0, 1);
}

h2 {
    color: rgba(180,0,0,0.7);
}

a {
    text-align: center;
    background-color: rgba(74, 186, 115, 0.62);
    color: rgba(50,100,0,0.8);
}

.active {
	padding: 10px  25px 10px 25px;
	color: rgba(74, 186, 115, 0.62);
	background-color: rgba(50,100,0,0.8);

}

nav a {
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 5px;
	margin-bottom: 5px;
}

nav a:hover {
	background-color: rgba(140, 186, 182, 0.62);
	color: rgba(0,0,0,1);
}

body{
	margin: 0 auto -1px auto;
}

section {
    background-color: rgba(50,100,0,0.6);
	float: right;
}

img {
	float: left;
	display: block;
	width: 100%;
}

.left{
	display: inline-block;
	width: 34%;
}

.right {
	display: inline-block;
	width: 60%;
}
